@model Auto_ecole_project.Models.Session

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoniteurId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoniteurId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoitureId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoitureId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoursId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoursId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
